pipeline.asl.json
{
  "StartAt": "Build",
  "States": {
    "Build": {
      "Type": "Task",
      "Resource": "arn:aws:states:::codebuild:startBuild.sync",
      "Parameters": {
        "ProjectName": "${BuildProject}",
        "SourceVersion.$": "States.Format('{}^\\{{}\\}', $.ref, $.head_commit_id)"
      },
      "ResultPath": "$.BuildOutput",
      "Next": "On Default Branch?"
    },
    "On Default Branch?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.on_default_branch",
          "BooleanEquals": true,
          "Next": "Check if Superseded"
        },
        {
          "Variable": "$.on_default_branch",
          "BooleanEquals": false,
          "Next": "Success"
        }
      ]
    },
    "Check if Superseded": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "ResultPath": "$.SupersededOutput",
      "Next": "Was Superseded?",
      "Parameters": {
        "QueueUrl": "${SupersessionQueue}",
        "MessageGroupId": "${GithubRepo}",
        "MessageBody": {
          "Pipeline": "${GithubRepo}",
          "CommitTimestamp.$": "$.head_commit.timestamp",
          "Token.$": "$$.Task.Token"
        }
      }
    },
    "Was Superseded?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.SupersededOutput.Superseded",
          "BooleanEquals": true,
          "Next": "Success"
        },
        {
          "Variable": "$.SupersededOutput.Superseded",
          "BooleanEquals": false,
          "Next": "Start Dev Database"
        }
      ]
    },
    "Start Dev Database": {
      "Type": "Task",
      "ResultPath": null,
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${DevStartDatabaseFunctionArn}",
        "Payload": {
          "DatabaseName": "${DevDatabaseName}",
          "NotificationTopic": "${DatabaseAvailabilityTopic}",
          "TaskToken.$": "$$.Task.Token"
        }
      },
      "Next": "Deploy to Dev"
    },
    "Deploy to Dev": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "ResultPath": "$.DevOutputs",
      "Parameters": {
        "QueueUrl": "${DeploymentQueue}",
        "MessageGroupId": "${GithubRepo}",
        "MessageBody": {
          "StackName": "${GithubRepo}",
          "ZipLocation.$": "$.BuildOutput.Build.Artifacts.Location",
          "TemplateFileName": "${GithubRepo}.template.yml",
          "TemplateConfigurationFileName": "${GithubRepo}.dev.config.json",
          "RoleArn": "${DevRoleArn}",
          "Token.$": "$$.Task.Token",
          "Capabilities": ["CAPABILITY_IAM"],
          "EnvironmentName": "dev",
          "CommitInfo": {
            "GithubOwner": "${GithubOwner}",
            "GithubRepository": "${GithubRepo}",
            "GithubRef.$": "$.head_commit.id"
          }
        }
      },
      "Next": "Dev - Tag Image"
    },
    "Dev - Tag Image": {
      "Type": "Task",
      "Resource": "arn:aws:states:::codebuild:startBuild.sync",
      "Parameters": {
        "ProjectName": "${TagImageBuildProject}",
        "SourceVersion.$": "States.Format('{}^\\{{}\\}', $.ref, $.head_commit_id)",
        "EnvironmentVariablesOverride": [
          {
            "Name": "OLD_TAG",
            "Type": "PLAINTEXT",
            "Value.$": "States.Format('{}', $.BuildOutput.Build.BuildNumber)"
          },
          {
            "Name": "NEW_TAG",
            "Type": "PLAINTEXT",
            "Value": "dev"
          }
        ]
      },
      "ResultPath": null,
      "Next": "Deploy to Prod"
    },
    "Deploy to Prod": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "ResultPath": "$.ProdOutputs",
      "Parameters": {
        "QueueUrl": "${DeploymentQueue}",
        "MessageGroupId": "${GithubRepo}",
        "MessageBody": {
          "StackName": "${GithubRepo}",
          "ZipLocation.$": "$.BuildOutput.Build.Artifacts.Location",
          "TemplateFileName": "${GithubRepo}.template.yml",
          "TemplateConfigurationFileName": "${GithubRepo}.prod.config.json",
          "RoleArn": "${ProdRoleArn}",
          "Token.$": "$$.Task.Token",
          "Capabilities": ["CAPABILITY_IAM"],
          "EnvironmentName": "prod",
          "CommitInfo": {
            "GithubOwner": "${GithubOwner}",
            "GithubRepository": "${GithubRepo}",
            "GithubRef.$": "$.head_commit.id"
          }
        }
      },
      "Next": "Prod - Tag Image"
    },
    "Prod - Tag Image": {
      "Type": "Task",
      "Resource": "arn:aws:states:::codebuild:startBuild.sync",
      "Parameters": {
        "ProjectName": "${TagImageBuildProject}",
        "SourceVersion.$": "States.Format('{}^\\{{}\\}', $.ref, $.head_commit_id)",
        "EnvironmentVariablesOverride": [
          {
            "Name": "OLD_TAG",
            "Type": "PLAINTEXT",
            "Value.$": "States.Format('{}', $.BuildOutput.Build.BuildNumber)"
          },
          {
            "Name": "NEW_TAG",
            "Type": "PLAINTEXT",
            "Value": "prod"
          }
        ]
      },
      "ResultPath": null,
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
